.homepage_wrapper {
    width: 100%;
    min-height: 400px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    padding: 30px;
}
@media (max-width: 770px) {
    .homepage_wrapper {
        padding: 10px;
    }
}
.homepage_menu{
    width: 100%;
}
@media (max-width: 770px) {
    .homepage_menu {
       font-size: 10px;
    }
}
@media (max-width: 600px) {
    .homepage_menu {
        font-size: 9px;
    }
}
@media (max-width: 470px) {
    .homepage_menu {
        font-size: 8px;
    }
}
.tab_wrapper {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
}

table.tab_wrapper, table.tab_wrapper td, table.tab_wrapper th {
    border: 1px solid #595959;
}
thead {
    width: 100%;
}

table.tab_wrapper td, table.tab_wrapper th {
    min-height: 35px;
    padding: 3px;
}

table.tab_wrapper th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
}

tr:hover {

}


.help {
    margin-top: 10px;
}
@media (max-width: 670px) {
    .help{
        font-size: 12px;
    }
}
.help_item_wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.help_example_warning {
    width: 50px;
    height: 20px;
    background-color: orange;
    margin-right: 15px;
}

.help_example_danger {
    width: 50px;
    height: 20px;
    background-color: red;
    margin-right: 15px;
}

.help_example_no_data {
    color: #157fc4;
    margin-right: 15px;
}

.help_description {

}

.inactive {
    color: #fff;
    text-decoration: none;
}

.just {
    text-decoration: none;

}

.ok {
    color: black;
    text-decoration: none;
}

.warning {
    background-color: orange;
    color: white;
    text-decoration: none;
}

.danger {
    background-color: red;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

td {
    align: center;
}

tr {
    width: 100%;
}

tr:hover {
    background-color: lightgoldenrodyellow;

}

@media screen and (max-width: 800px) {
    table.tab_wrapper, table.tab_wrapper td, table.tab_wrapper th {
        border: none;
    }
    table.tab_wrapper thead {
        display: none;
    }
    table.tab_wrapper tr {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 2px solid #e8e9eb;
    }
    table.tab_wrapper td {
        display: block;
        text-align: right;
    }
    table.tab_wrapper td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }
}