.car_menu_wrapper {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    height: 97%;
    min-height: 100vh;
}

.car_menu_item {
    color: #38bafe;
    height: 70px;
    width: 200px;
    border-bottom: solid 1px #38bafe;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.car_menu_item:hover {
    color: #3a75c4;
    border-bottom: solid 1px #3a75c4;
}
.active{
    color: #2d73bc;
    border-bottom: solid 1px #2d73bc;
}