.setting_window_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.9);
    position: fixed;
    z-index: 1;
}

.setting_window_content {
    width: 360px;
    min-height: 250px;
    background-color: white;
    z-index: 2;
    color: #2d73bc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.setting_window_hidden {
    display: none;
}

.setting_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.img_wrapper {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_wrapper img {
    height: 45px;
    width: 45px;
}

.img_wrapper img:hover {
    height: 50px;
    width: 50px;
}

.hr {
    margin: 10px auto;
    height: 2px;
    width: 100%;
    background-color: darkseagreen;
}

h5 {
    font-size: 14px;
    text-align: center;
}

h6 {
    color: black;
    font-size: 12px;
}

.email_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 16px;
    font-weight: 500;
    min-height: 150px;
    padding: 10px;
}

.email_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting_button_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting_window_wrapper button {
    width: 130px;
}

span {

    margin-left: 15px;
}

.email_item_input {
    margin-left: 15px;
    width: 200px;
    margin-top: 0;
}