.car_menu_wrapper {
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px 5px 50px 5px;

}
.buttons_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.car_menu_item {
    color: #38bafe;
    width: 100%;
    height: 70px;
    border-bottom: solid 1px #38bafe;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    text-decoration: none;

}
.car_menu_item:hover {
    color: #3a75c4;
    border-bottom: solid 1px #3a75c4;
}
.active{
    color: #2d73bc;
    border-bottom: solid 1px #2d73bc;
}
@media (max-width: 1087px) {
    .car_menu_item {
        font-size: 14px;
        height: 60px;
    }
    .car_menu_wrapper {
        padding: 7px;
    }
}
@media (max-width: 767px) {
    .car_menu_item {
        font-size: 14px;
        height: 55px;
    }
    .car_menu_wrapper {
        padding: 3px;
    }
}