.car_menu_wrapper {
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px 5px 50px 5px;

}

.buttons_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.car_menu_item {
    color: #38bafe;
    width: 100%;
    height: 70px;
    border-bottom: solid 1px #38bafe;
    cursor: pointer;
    margin-top: 10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    text-decoration: none;

}

.car_menu_item:hover {
    color: #3a75c4;
    border-bottom: solid 1px #3a75c4;
}

.active {
    color: #2d73bc;
    border-bottom: solid 1px #2d73bc;
}

@media (max-width: 1087px) {
    .car_menu_item {
        font-size: 24px;
        height: 70px;
    }

    .car_menu_wrapper {
        padding: 7px;
    }
}

@media (max-width: 767px) {
    .car_menu_item {
        height: 65px;
    }

    .car_menu_wrapper {
        padding: 3px;
    }
}

@media (max-width: 500px) {
    .car_menu_item {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .car_menu_item {
        font-size: 20px;
        height: 65px;
    }
}
