.maintenance_wrapper{
    padding-right: 15px;
}
.maintenance_item_wrapper{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #2d73bc;
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    padding: 10px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
}
.maintenance_item_wrapper:hover{
    background-color: lightyellow;
}
.maintenance_item_wrapper:hover .delete {
  display: flex;
    justify-content: center;
    align-items: center;
}
.maintenance_addnewrecord{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightyellow;
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    padding: 10px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
}
.delete {
    background-color: #2d73bc;
    width: 20px;
    padding: 10px;
    color: white;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}
span{
    margin-top: 7px;
}
.errormessage{

}
textarea{
    margin-top: 15px;
    height: 75px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    resize: none;
}
input:focus{
    border: 3px solid blue;
    box-shadow: 1px 1px 2px 0 blue;
}
textarea:focus{
    border: 3px solid blue;
    box-shadow: 1px 1px 2px 0 blue;
}
.subtitle{
    color: #007046;
}


