.buttons_wrapper {

}

.button_item {
    margin-top: 10px;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    color: lavenderblush;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #6deee7;
    border: none;
}
.button_item:hover {
    background-color: #15b7af;
}
.active{
    background-color: #1adbd1;
}