.message_window_wrapper{
    min-width: 350px;
    height: 100px;
    background-color: #2d73bc;
    position: fixed;
    top:150px;
    left: 50%;
    z-index: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
    transform: translateX(-50%);
}
.message_window_content{
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.message_window_hidden{
    top: -150px
}
.negative{
    background-color: grey;
}
