.car_wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}
.car_section_wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.car_item_wrapper {
    background-color: #fff;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    color: #2d73bc;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: all 0.4s;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 25px;
}
.car_item_wrapper:hover{
    background-color: lightyellow;
}
.car_icon_wrapper{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car_item_subheader{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.car_item_info{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width: 100%;
    min-height: 50px;
}
.delete {
    background-color: #2d73bc;
    width: 20px;
    padding: 10px;
    color: white;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
}
.car_add_newrecord{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: lightyellow;
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    padding: 25px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
}
.car_add_hidden{
    display: none;
}
textarea{
    margin-top: 15px;
    height: 75px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    resize: none;
}
textarea:focus{
    border: 3px solid blue;
    box-shadow: 1px 1px 2px 0 blue;
}
input{
    height: 25px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 0px;
}
input:focus{
    border: 3px solid blue;
    box-shadow: 1px 1px 2px 0 blue;
}
.subtitle{
    color: #007046;
}
h3 {
    margin: 0 auto;
}

.car_description_wrapper {
    padding-right: 15px;
}
.subtitle {
    color: #007046;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.hr{
    margin: 10px auto;
    height: 2px;
    width: 100%;
    background-color: darkseagreen;
}
img{
    width: 40px;
    color: #157fc4;
    cursor: pointer;
    transition: all 0.4s;
}
img:hover{
    width: 45px;
}
.car_button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.car_item_data{
    display: flex;
    align-items: center;
    color: #2d73bc;
    margin-left: 10px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.add_form{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errormessage{
    color: red;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}