.header_wrapper {
    grid-area: header;
    padding: 15px;
    background: linear-gradient(
            138.4deg, #38bafe 26.49%, #2d73bc 79.45%);
    color: white;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (orientation: portrait) {
    /* При вертикальной ориентации фоновым цветом сайта будет чёрный */
    .header_wrapper {
        min-height: 200px;
    }
}
.container{
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.first_header_section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {

}

.icon_wrapper {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
@media (max-width: 867px) {
    .icon_wrapper {
        margin-right: 15px;
    }
}

.second_header_section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_header_section h1 {
    color: white;
}

.third_header_section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_section_icon {
    margin: 25px;
    cursor: pointer;
}

.right_section_mame {
    margin-right: 15px;
}

.header_wrapper img {
    width: 50px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.header_wrapper img:hover {
    width: 55px;
}

@media (max-width: 867px) {
    .header_wrapper img {
        width: 40px;
    }
}

.header_burger {
    display: none;
    width: 60px;
    color: #f5f5f5;
    margin-top: 35px;
}

.header_button {
    color: white;
    margin: 0 auto;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    background-color: #157fc4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s;
}

.header_button:hover {
    background-color: #38bafe;
}

.header_name {
    color: whitesmoke;
    font-size: 20px;
}

@media (max-width: 1087px) {
    h1 {
        font-size: 28px;
    }

    .header_button {
        width: 150px;
        height: 60px;
        font-size: 18px;
    }
}

@media (max-width: 867px) {
    h1 {
        font-size: 26px;
    }

    .header_button {
        width: 130px;
        height: 55px;
        font-size: 16px;
    }

    .header_button img {
        width: 35px;
        margin-left: 20px;
    }

    .header_logo {
        display: none;
    }

    .header_burger {
        display: block;

        width: 30px;
        height: 50px;
    }

    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 4px;
    }

    .burger_active span {
        margin-bottom: -2px;
        transition: 0.5s all;
    }

    .burger_active .child_1 {
        transform: translateY(3px) rotate(-45deg);
    }

    .burger_active .child_2 {
        display: none;
    }

    .burger_active .child_3 {
        transform: translateY(3px) rotate(45deg)
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 28px;
    }

    .header_button {
        width: 110px;
        height: 50px;
        font-size: 14px;
    }

    .header_button img {
        width: 30px;
        margin-left: 10px;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 25px;
    }

    .header_button {
        width: 90px;
        height: 45px;
        font-size: 12px;
    }

    .header_button img {
        width: 25px;
        margin-left: 5px;
    }
}

.subheader_wrapper {
    background-color: white;
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheader_container {
    max-width: 1170px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subheader_item {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 500px) {
    .subheader_item {
        font-size: 16px;
    }
}
@media (orientation: portrait) {
    /* При вертикальной ориентации фоновым цветом сайта будет чёрный */
    .subheader_item {
        font-size: 30px;
    }
}
.active {
    border-bottom: #157fc4 2px solid;
}