.header_wrapper {
    grid-area: header;
    padding: 15px;
    background: linear-gradient(
            138.4deg
            ,#38bafe 26.49%,#2d73bc 79.45%);
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px)  1fr;
    align-items: center;
    color: white;
}

.header_logo {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    grid-column: 2/3;
    color: white;
}
img{
    width: 60px;
}

.header_title {
    margin: 0 auto;
    grid-column: 3/4;
    color: white;
    cursor: pointer;
}

.header_button {
    color: white;
    margin: 0 auto;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    background-color: #157fc4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor:pointer;
    text-decoration: none;
    transition: all 0.4s;
}
.header_button:hover {
    background-color: #38bafe;
}

.header_name{
    color: whitesmoke;
    font-size: 20px;
}
.header_button img {
    width: 40px;
    margin-left: 20px;
    color: lightyellow;
}