.car_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

@media (max-width: 600px) {
    .car_wrapper {
        flex-direction: column-reverse;
    }
}

.car_section_wrapper {
    display: flex;
    flex-direction: column;
    color: #2d73bc;
    width: 75%;
}

@media (max-width: 800px) {
    .car_section_wrapper {
        padding-right: 10px;
    }
}

@media (max-width: 600px) {
    .car_section_wrapper {
        width: 100%;
    }
}

.car_item_wrapper {
    background-color: #fff;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    color: #2d73bc;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: all 0.4s;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 25px;
}
@media (max-width: 1000px) {
    .car_item_wrapper {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .car_item_wrapper {
        margin-bottom: 10px;
        padding: 5px;
    }
}

.car_item_wrapper h5 {
    margin: 5px;
    padding: 0;
}

.car_item_wrapper:hover {
    background-color: lightyellow;
}

.car_item_info {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    width: 100%;
    min-height: 50px;
}

@media (max-width: 1020px) {
    .car_item_info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

.car_add_new_record {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #2d73bc;
    font-size: 20px;
    font-weight: 500;
    background-color: #fff;
    padding: 25px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
}
@media (max-width: 1000px) {
    .car_add_new_record {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .car_add_new_record {
        margin-bottom: 10px;
        padding: 5px;
    }
}

.car_add_hidden {
    display: none;
}

textarea {
    margin: 15px 25px 0 25px;
    height: 75px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    resize: none;
}

textarea:focus {
    border: 3px solid blue;
    box-shadow: 1px 1px 2px 0 blue;
}

input:focus {
    border: 3px solid blue;
    box-shadow: 1px 1px 2px 0 blue;
}

.subtitle {
    color: #007046;
}

h3 {
    margin: 0 auto;
}

.car_description_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}

@media (max-width: 900px) {
    .car_description_section {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

.car_description_item {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
}

.car_description_input {
    width: 140px;
}

.subtitle {
    color: #007046;
    margin-right: 10px;
    display: flex;
    align-items: center;

}

.hr {
    margin: 10px auto;
    height: 2px;
    width: 100%;
    background-color: darkseagreen;
}


.car_button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.car_item_data {
    display: flex;
    align-items: center;
    color: #2d73bc;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .car_item_data {
        font-size: 12px;
    }
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.add_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.errormessage {
    color: red;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 15px;
}


.input_block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

@media (max-width: 680px) {
    .input_block {
        justify-content: space-around;
    }
}
.name_number_input_section input{
    max-width: 170px;
    margin-top: 0;
    margin-left: 5px;
}
@media (max-width: 860px) {
    .name_number_input_section input {
        width: 150px;
    }
}
.name_number_input_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 680px){
    .name_number_input_section{
        flex-direction: column;
        justify-content: space-between;
    }
}
.count_input_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 680px){
    .count_input_section{
        flex-direction: column-reverse;
    }
}
.input_minus{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
@media(max-width: 600px){
    .input_minus{
        width: 30px;
        height: 30px;
    }
}
@media(max-width: 500px){
    .input_minus{
        width: 30px;
        height: 30px;
        margin-left: 0;
    }
}
.input_plus{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.homepage_wrapper {
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    padding: 30px;
}

.tab_wrapper {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
    margin-bottom: 15px;
    font-size: 16px;
}

table.tab_wrapper, table.tab_wrapper td, table.tab_wrapper th {
    border: 1px solid #595959;
}

table.tab_wrapper td, table.tab_wrapper th {
    min-height: 35px;
    padding: 3px;
    width: 30px;
    height: 35px;
}

table.tab_wrapper th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
}

tr:hover {

}

.type_order {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.type_order select {
    margin-left: 15px;
}

.edit_order_subheader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    color: #2d73bc;
}

@media (max-width: 900px) {
    .edit_order_subheader {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .edit_order_subheader {
        font-size: 10px;
    }
}

.car_item_subheader {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    color: #2d73bc;
}
.new_record_header{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    color: #2d73bc;
}

@media (max-width: 900px) {
    .car_item_subheader {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .car_item_subheader {
        font-size: 12px;
    }
}
.repair__record__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.date_odometer_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.subheader_input_date {
    width: 100px;
    margin: 0;
}

@media (max-width: 800px) {
    .subheader_input_date {
        width: 70px;
    }
}

.subheader_input_odometer {
    width: 130px;
    margin: 0;
}

@media (max-width: 800px) {
    .subheader_input_odometer {
        width: 70px;
    }
}

.car_icon_wrapper {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .car_icon_wrapper {
        height: 45px;
        width: 45px;
    }
}

@media (max-width: 600px) {
    .car_icon_wrapper {
        height: 40px;
        width: 40px;
    }
}





